.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 600px;
    height: 80px;
    background-color: lightgray;
}

.task-input {
    width: 70%;
    height: 50px;
}

.add-task-button {
    width: 60px;
    height: 50px;
    background-color: darkgray;
    border: none;
    cursor: pointer;
}