.todo-item {
    padding: 1rem;
    border: solid 1px #000000;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.todo-item-buttons {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.todo-item-button {
    padding: 0.5rem 1rem;
    font-size: var(--fs-sm);
    font-weight: var(--fw-medium);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}