.todo-list-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin-top: auto;
    flex: 1;
}

.todo-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
