.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    height: 100vh;
    max-width: 100%;
    gap: 1.5rem;
    overflow: hidden;
}

.theme-button {
    position: fixed;
    top: 1rem;
    left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border: 1.5px solid var(--button-border);
    border-radius: 50%;
    background-color: var(--button-bg);
    cursor: pointer;
}

.theme-button-dark {
    color: white;
}
