.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    /* Temporary - responsive later */
    width: 600px;
    height: 300px;
    background-color: lightgray;
}

.main-heading {
    font-size: var(--fs-xxl);
    font-weight: var(--fw-extrabold);
}

.sub-heading {
    font-size: var(--fs-lg);
    font-weight: var(--fw-medium);
}